# Игнорируем виртуальное окружение
.venv/
venv/
ENV/

# Игнорируем кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорируем логи
*.log

# Игнорируем временные файлы
*.tmp
*.temp

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем node_modules в корневой директории
node_modules/

# НЕ игнорируем статические файлы
!app/static/ 